
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 1rem;
  }
  
  .pagination .page-num {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: normal;
    color: #333;
    border: 1px solid #333;
    margin: 2px;
  }
  
  .pagination .page-num:hover {
    color: #fff;
    background-color: var(--light-blue);
  }
  .activePage {
    color: #fff;
    background-color: var(--light-blue);
    height: 100%;
  }